*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
     margin: 0;
     min-height: 0vh;
    background: url(../imagenes/images.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: 
    linear-gradient(90deg,#52c4df, #ad55c1);

    opacity: 0.5;

    z-index: -1;
}
.cabezera{
    text-align: center;
    padding: 70 px;
    margin-top: 40px;
    
}

.cabezera li{
    display: inline-block;
    
}

.cabezera a{
    text-decoration: none;
    color: white;
    margin: 0px 40px 20px 0px;
    font-size: 30px;
    
}

video{
height: 600px;
width: 600px;
margin: 80px 80px 0px 580px;
box-decoration-break:none;
}

.footer{
    padding: 40px;
    text-align: center;
    margin: 190px 40px 0 40px;
    
}